*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background-image: url('../../public/assets/images/bg-mobile.svg');
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 1440px) {
  #root {
    background-image: url('../../public/assets/images/bg-desktop.svg');
  }
}
